//
   Created by Administrator on 2015/11/13.

extends layout

block content
   form(method='post')
      span 用户名：
      input(type='text',name='name')
      br
      span 密码：
      input(type='password',name='password')
      br
      input(type='submit',name='登录')