//
   Created by Administrator on 2015/11/13.
extends layout
block content
   form(method='post')
       span 标题
       input(type='text',name='title')
       br
       p
       textarea(name='post',rows='20',cols='100')
       br
       input(type='submit',value='发表')
