*{
  padding: 0;
  margin: 0;
}
body {
  margin: 20px auto;
  padding: 50px;
  font: 14px "Microsoft YaHei";
}

a {
  color: #00B7FF;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  border-radius: 3px;
}

p{
  margin: 1em 0;
}

header{
  margin-left: 200px;
  padding: 20px 0;
  border-bottom:1px solid #cccccc;
  overflow: hidden;
}

header h1{
  float: left;
}

header a{
  float: right;
}

#main{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

nav{
  position: absolute;
  padding: 20px 0;
  width: 200px;
  margin-left: -12px;
}

nav li {
  padding: 10px 0;
  font-size: 25px;
  text-transform: uppercase;
  text-align: right;
  margin-right: 20px;
  list-style: none;
}
nav li a{
  padding: 10px;
}

nav li a:hover{
  background-color: #00B7FF;
  color: #fff;
}

article{
  position: absolute;
  padding: 20px 0;
  left: 200px;
  font-size: 16px;
  line-height: 1.6;
  width: 800px;
}

.info{
  font-size: 14px;
}
article li{
  list-style: none;
}

article a{
  color: #f00;
  background-color: #fff;
  padding: 5px;
}
article a:hover{
  color: #fff;
  background-color: #f00;
}

#content {
  height: 600px;
  position: absolute;
  width: 600px;
}

#content_show {
  position: absolute;
  height: 500px;
  width: 600px;
  background: aliceblue;
  overflow: auto;
}

#input_content {
  width: 500px;
  height: 100px;
  overflow: auto;
}

#input_content:hover {
  background-color: #aaa;
}
#say {

  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  color: #00B7FF;
  background-color: #eef;
}

#say:hover {
  background-color: #00B7FF;
  color: #fff;
}

#user_online {
  position: absolute;
  right: 0;
  width: 200px;
  top: 20px;
  bottom: 0;
  background: #FFEFEF;
  height: 600px;
}

#content_saying {
  position: absolute;
  top: 500px;
  height: 100px;
  width: 600px;
  background-color: #eee;
}
